*{
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #f6f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header{
  background-color: black;
  color: #f6f3f3;
  padding-top: 20px;      /*Increase or decrease the top padding */
  padding-bottom: 20px;   /*Increase or decrease the bottom padding*/
}

li{
  list-style: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

button{
  background-color: #2105f4;
  color: white;
  padding: 4px 10px;
  cursor: pointer;
  border: 2px solid rgb(195, 99, 156); 
  border-radius: 5px;
  font-weight: 600;
  width: fit-content;
}
button:hover{
  background-color: #fff;
  color: black;
  border: 1px solid black;
}
nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

nav .logo{
  font-weight: 500;
  font-size: 30px;
}

nav ul{
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

nav ul li:hover{
  text-decoration: underline;
font-weight: 900;
}

.hero-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-left-section h1{
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-left-section h1 span{
  color: #1cd7f8;
}

.hero-left-section h3 span{
  color: #07a7f1;
}

.hero-right-section img{
  width: 600px;
  height: 6%;
}